.btn-counter {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  font-size: 16px;
  font-weight: 700;
}

.btn-counter--light {
  color: var(--background-color);
}

.btn-counter__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border: 1px solid var(--color-light-gray);
  transition:
    color 0.18s ease,
    background-color 0.18s ease,
    border-color 0.18s ease,
    transform 0.18s ease;
}

.btn-counter__btn:hover {
  border-color: var(--color-white);
  background: var(--color-white);
  color: var(--color-black);
}

.btn-counter--light .btn-counter__btn:hover {
  border-color: var(--color-black);
  background: var(--color-black);
  color: var(--color-white);
}
