.input-field {
  display: grid;
  gap: 4px;
  width: 100%;
  min-height: 60px;
}

.input-field__label {
  font-size: 12px;
  line-height: 1;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.input-field__input {
  height: 100%;
  border: 0;
  border-bottom: 1px solid var(--color-white);
  outline: none;
  background: transparent;
  color: var(--text-color);
}

.input-field__input:focus {
  outline: none;
}

.input-field__input::placeholder {
  color: var(--color-light-gray);
  text-transform: uppercase;
}
