/* ── Adm Edit ─────────────────────────────── */

.menu-edit {
  padding: auto;
}
.menu-edit .menu-toolbar {
  width: 100%;
}

/* TITLE */
.menu-edit__title {
  text-align: center;
  margin-bottom: 2px;
  font-size: 80px;
  font-weight: 600;
}

/* TOGGLE */
.menu-edit__toggle {
  display: flex;
  justify-content: center;
  gap: 1px;
  margin-bottom: 2px;
}

.menu-edit__toggle-btn {
  min-width: 160px;
}

/* CONTENT */
.menu-edit__content {
  width: 100%;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background: transparent;
  border: none;
  outline: none;

  font: inherit;
  color: inherit;

  width: 100%;
}
