/* =========================
   MAP WRAPPER
========================= */

.map-container {
  width: 100%;
  height: 100%;
  min-height: 280px;
}

.order__map {
  flex: 1;
  position: relative;
  min-height: 280px;
  background: var(--color-black);
  border-bottom: 1px solid var(--color-dark-gray);
  z-index: 1;
}

/* =========================
   LEAFLET STACK
========================= */

.leaflet-top,
.leaflet-bottom {
  z-index: 400;
}

.leaflet-top.leaflet-left {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.leaflet-control {
  border-radius: 0 !important;
}

.leaflet-control-zoom {
  margin-bottom: 0 !important;
}

/* =========================
   LOCATE BUTTON
========================= */

.map__locate-btn {
  width: 34px;
  height: 34px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--color-white);
  color: var(--color-black);

  font-size: 16px;
  cursor: pointer;

  border-top: 1px solid var(--color-light-gray);

  margin-top: 72px;
  margin-left: 10px;

  position: relative;
}

.map__locate-btn:hover {
  background: var(--color-light-light-gray);
}

.map__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
