# ── SERVER ─────────────────────────────
PORT=3000

# ── DATABASE ───────────────────────────
DB_HOST=localhost
DB_PORT=3306
DB_NAME=sushi_restaurant
SUSHI_RESTAURANT_DB_USER=mursu_user
SUSHI_RESTAURANT_DB_PASSWORD=mursu_password

DB_ADMIN_USER=root
DB_ADMIN_PASSWORD=your_root_password

# ── RESTAURANT COORDS ────────────────
RESTAURANT_LAT=60.1719
RESTAURANT_LON=24.9410

# ── ROUTING INTEGRATION ────────────────
HSL_API_KEY=add_key
ORS_API_KEY=dd_key
