# ── SERVER ─────────────────────────────
PORT=3000

# ── DATABASE ───────────────────────────
DB_HOST=localhost
DB_PORT=3306
DB_NAME=sushi_restaurant
SUSHI_RESTAURANT_DB_USER=mursu_user
SUSHI_RESTAURANT_DB_PASSWORD=mursu_password

DB_ADMIN_USER=root
DB_ADMIN_PASSWORD=your_root_password

# ── STRIPE ─────────────────────────────
STRIPE_SECRET_KEY=sk_test_your_key_here
