.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.loader__icon {
  animation: spin 1s linear infinite;
}

.loader__text {
  font-size: 14px;
  color: var(--color-gray);
}

.loader--light .loader__text {
  color: var(--color-light-light-gray);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
