.cart-item {
  padding-bottom: 32px;
  border-bottom: 1px solid var(--color-dark-gray);
}

.cart-item + .cart-item {
  margin-top: 48px;
}

.cart-item__content {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.cart-item__title {
  font-family: var(--font-text);
  font-size: 24px;
  font-weight: 300;
}

.cart-item__description {
  color: var(--color-light-gray);
  font-size: 14px;
  font-weight: 300;
}

.cart-item__btn {
  margin-top: 16px;
  text-decoration: underline;
  text-underline-offset: 4px;
  color: var(--color-gray);
}

.cart-item__aside {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
}

.cart-item__price {
  color: var(--color-white);
  font-size: 24px;
  font-weight: 300;
}

@media (max-width: 1024px) {
  .cart-item {
    padding-bottom: 20px;
  }

  .cart-item + .cart-item {
    margin-top: 32px;
  }
}

@media (max-width: 768px) {
  .cart-item__content {
    flex-direction: column;
    gap: 20px;
  }

  .cart-item__aside {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
}
