.layout {
	height: 100%;

	--layout-padding: 40px;
	--layout-width: 1280px;

	width: 100%;

	padding-left: max(var(--layout-padding), calc(50vw - var(--layout-width) / 2));
	padding-right: max(var(--layout-padding), calc(50vw - var(--layout-width) / 2));
}

@media (max-width: 1080px) {
	.layout {
		--layout-padding: 20px;
	}
}
