.badge {
  display: inline-flex;
  align-items: center;
  height: fit-content;
  padding: 2px 8px;
  border: 1px solid var(--color-dark-gray);
  color: var(--color-light-gray);
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  white-space: nowrap;
}

.badge--dark {
  border-color: var(--color-light-gray);
  color: var(--color-dark-gray);
}

.card-base--light .badge {
  color: var(--color-black);
  border-color: var(--color-gray);
}
