/* global variables to use in other files */
:root {
  --color-bg: #0b0b0b;
  --color-text: #ffffff;
  --color-muted: #888888;
  --color-border: #333333;

  --font-main: Arial, sans-serif;
}

/* global usage */
body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-main);
}

/* utility */
.container {
  max-width: 1200px;
  margin: 0 auto;
}